*.scssc
.sass-cache
build_tool
.DS_Store
node_modules
*.scssc
.DS_Store
node_modules
bower_components
.vim/bundle
.vim/tmp/undo/**/*
.vim/tmp/backup/**/*
.vim/tmp/swap/**/*
adrianoprea.properties
.invrc
eclipse_workspace/
vim
