[submodule ".vim/bundle/investigate.vim"]
	path = .vim/bundle/investigate.vim
	url = https://github.com/Keithbsmiley/investigate.vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
